@import '../variables.scss';

.categories-wrapper {
  .header {
    background-color: #fff;
    padding: 2rem;
    margin: 2rem 0;
    border: solid 1px $color-border;

    .header-buttons {
      display: flex;
      gap: 2rem;

      button {
        background-color: #ddd;
        padding: 0.6rem 1.2rem;
        border-radius: 3px;
        color: $color-grey-1;
        font-size: 1.6rem;
        font-family: inherit;
        border: none;
        cursor: pointer;
      }

      button.active {
        background-color: $color-blue;
        color: #ddd;
      }
    }
  }

  .books {
    & > * {
      margin-bottom: 2rem;
    }
  }
}
